html{
    background-color: black;
    color: white;
}
div{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 15px;
}
img{
    border: 5px solid white;
    width: 100%;
}